<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>가맹점 등록</title>
<meta charset="UTF-8" name="viewpoint" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
	<h1>가맹점 등록</h1>
	<form th:action="@{/companys}" th:object="${company}" method="post">
		<hr />
		<h4 style="font-weight: bold">가맹점 정보</h4>
		<div class="form-group has-feedback">
			<table class="table">
				<thead>
					<tr>
						<th>가맹점명</th>
						<th>서비스명</th>
						<th>가맹점 오픈일자 (2018.00.00)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div th:classappend="${#fields.hasErrors('companyName')} ? 'has-error' : ''" >
								<input th:field="*{companyName}" type="text" class="form-control" id="companyName" name="companyName" placeholder="가맹점명"/>
								<label th:if="${#fields.hasErrors('companyName')}" th:errors="*{company}" class="control-label" for="companyName"/>
								<span th:if="${#fields.hasErrors('companyName')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"/>
								<span th:if="${#fields.hasErrors('companyName')}" id="companyError" class="sr-only">(warning)</span>
							</div>
						</td>
						<td>
							<div th:classappend="${#fields.hasErrors('serviceName')} ? 'has-error' : ''">
								<input th:field="*{serviceName}" type="text" class="form-control" id="serviceName" name="serviceName" placeholder="서비스명"/>
								<label th:if="${#fields.hasErrors('serviceName')}" th:errors="*{serviceName}" class="control-label" for="serviceName"/>
								<span th:if="${#fields.hasErrors('serviceName')}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"/>
								<span th:if="${#fields.hasErrors('serviceName')}" id="serviceError" class="sr-only">(warning)</span>
							</div>
						</td>
						<td><input th:field="*{companyOpenDate}" type="text" class="form-control" id="companyOpenDate" name="companyOpenDate" placeholder="2018-00-00"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group has-feedback">
			<table class="table">
				<thead>
					<tr>
						<th>과세구분</th>
						<th>결제모드</th>
						<th>개발언어</th>
						<th>서비스 상태</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select th:field="*{tax}" class="selectpicker" id="tax" name="tax" selected="과세">
								<option value="과세">과세</option>
								<option value="면세">면세</option>
								<option value="모름">모름</option>
								<option value="복합과세">복합과세</option>
							</select>
						</td>
						<td>
							<select th:field="*{payMode}" class="selectpicker" id="payMode" name="payMode" selected="PAY2">
								<option value="PAY2">PAY2</option>
								<option value="PAY1">PAY1</option>
							</select>
						</td>
						<td>
							<select th:field="*{language}" class="selectpicker" id="language" name="language">
								<option value="ASP">ASP</option>
								<option value="PHP">PHP</option>
								<option value=".NET">.NET</option>
								<option value="JSP">JSP</option>
								<option value="JAVA">JAVA</option>
								<option value="알수없음">알수없음</option>
								<option value="기타">기타</option>
							</select>
						</td>
						<td>
							<select th:field="*{serviceStatus}" class="selectpicker" id="serviceStatus" name="serviceStatus">
								<option value="가맹점 등록">가맹점 등록</option>
								<option value="개발중">개발중</option>
								<option value="검수요청">검수요청</option>
								<option value="검수중">검수중</option>
								<option value="검수완료">검수완료</option>
								<option value="서비스종료">서비스종료</option>
								<option value="신규등록">신규등록</option>
								<option value="연동문의">연동문의</option>
								<option value="영업협의중">영업협의중</option>
								<option value="오픈완료">오픈완료</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr/>
		<label for="serviceMethod">서비스 방식</label>
		<div th:field="*{serviceMethod}" class="checkbox">
			<label class="checkbox-inline"><input type="checkbox" value="PC"/>PC</label>
			<label class="checkbox-inline"><input type="checkbox" value="Mobile"/>Mobile</label>
			<label class="checkbox-inline"><input type="checkbox" value="AOS"/>AOS</label>
			<label class="checkbox-inline"><input type="checkbox" value="IOS"/>IOS</label>
		</div>
		<hr/>
		<label for="paycoKinds">페이코 연동 종류</label>
		<div th:field="*{paycoKinds}" class="checkbox">
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="바로구매"/>바로구매</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="간편결제"/>간편결제</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="로그인"/>소셜로그인</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="게임결제"/>게임결제</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="QR코드"/>QR코드</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="KCP단축형"/>KCP단축형</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="오프라인"/>오프라인</label>
			<label class="checkbox-inline"><input type="checkbox" id="paycoKinds" name="paycoKinds" value="자동결제"/>자동결제</label>
		</div>
		<hr/>
		<h4 style="font-weight: bold">담당자</h4>
		<div class="form-group has-feedback">
			<table class="table">	
				<thead>
					<tr>
						<th>담당자(정)</th>
						<th>담당자(부)</th>
						<th>영업담당자(NE)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input th:field="*{managerMain}" type="text" id="managerMain" name="managerMain" placeholder="담당자(정)"/></td>
						<td><input th:field="*{managerVice}" type="text" id="managerVice" name="managerVice" placeholder="담당자(부)"/></td>
						<td><input th:field="*{managerNE}" type="text" id="managerNE" name="managerNE" placeholder="영업담당자(NE)"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr/>
		<h4 style="font-weight: bold">URL</h4>
		<div class="form-group has-feedback">
			<table class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>URL</th>
						<th>호출방식</th>
						<th>iFrame</th>
						<th>테스트 ID</th>
						<th>테스트 PW</th>
					</tr>
				</thead>
				<tbody>	
					<tr>
						<td><input type="button" id="serviceUrlAdd" name="serviceUrlAdd" value="+"/></td>
						<td><input th:field="*{url.url}" type="text" id="serviceUrl" name="serviceUrl" placeholder="URL"/></td>
						<td>
							<select th:field="*{url.mode}" class="selectpicker" id="serviceMode" name="serviceMode">
								<option value="">구분</option>
								<option value="App">App</option>
								<option value="Web">Web</option>
							</select>
						</td>
						<td>
							<select th:field="*{url.iFrame}" class="selectpicker" id="iFrame" name="iFrame" selected="Y">
								<option value="">구분</option>
								<option value="Y"> Y </option>
								<option value="N"> N </option>
							</select>
						</td>
						<td><input th:field="*{url.testID}" type="text" id="testID" name="testID" placeholder="테스트 ID"/></td>
						<td><input th:field="*{url.testPW}" type="text" id="testPW" name="testPW" placeholder="테스트 PW"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr/>
		<h4 style="font-weight: bold">MANAGE</h4>
		<div class="form-group has-feedback">
			<table class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>sellerKey</th>
						<th>cpId</th>
						<th>productId</th>
						<th>deliveryId</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="button" id="companyAdd" name="companyAdd" value="+"/></td>
						<td><input th:field="*{manage.sellerkey}" type="text" id="sellerKey" name="sellerKey" placeholder="sellerKey"/></td>
						<td><input th:field="*{manage.cpid}" type="text" id="cpId" name="cpId" placeholder="cpId"/></td>
						<td><input th:field="*{manage.productid}" type="text" id="productId" name="productId" placeholder="productId"/></td>
						<td><input th:field="*{manage.deliveryid}" type="text" id="deliveryId" name="deliveryId" placeholder="deliveryId"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr/>
		<h4 style="font-weight: bold">메모</h4>
		<div class="form-group has-feedback">
			<table class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>구분</th>
						<th>메모</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="button" id="memoAdd" name="memoAdd" value="+"/></td>
						<td>
							<select th:field="*{memoType}" class="selectpicker" id="memoType" name="memoType">
								<option value="">구분</option>
								<option value="개발">개발</option>
								<option value="검수">검수</option>
								<option value="계약">계약</option>
								<option value="기타">기타</option>
							</select>
						</td>
						<td><input th:field="*{memoContent}" type="text" id="memoContent" name="memoContent" placeholder="메모"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr/>
		<button type="submit" class="btn btn-default">저장</button>
		<button type="cancel" class="btn btn-default" onclick="go_cancel(); return false;">취소</button>
		<button type="button" class="btn btn-default" onclick="go_list(); return false;">목록</button>
	</form>
	<p/><p/><p/>
</div>
<script type="text/javascript">
function service_check(){
	
}
function go_cancel(){
	
}
function go_list(){
	
}
</script>
</body>
</html>